In [4]:
pip install pandas

Collecting pandas
  Using cached pandas-2.0.1-cp310-cp310-win_amd64.whl (10.7 MB)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\goshd\anaconda3\envs\study\lib\site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.21.0
  Using cached numpy-1.24.3-cp310-cp310-win_amd64.whl (14.8 MB)
Requirement already satisfied: six>=1.5 in c:\users\goshd\anaconda3\envs\study\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import json
import xml.etree.ElementTree as et

import pandas as pd
import numpy as np

# Chapter 02 데이터 수집하기

## 02-1 API 사용하기

### 02-1-1 JSON 데이터

In [7]:
d= {'name':'혼자 공부하는 데이터 분석'}
print(d)
print(d['name'])
print(type(d))

{'name': '혼자 공부하는 데이터 분석'}
혼자 공부하는 데이터 분석
<class 'dict'>

In [6]:
d_str=json.dumps(d,ensure_ascii=False)
print(d_str)
print(type(d_str))

{"name": "혼자 공부하는 데이터 분석"}
<class 'str'>

In [9]:
d2 = json.loads(d_str)
print(d2['name'])
print(type(d2))

혼자 공부하는 데이터 분석
<class 'dict'>

In [6]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year":2022}')

print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [9]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author": ["박해선", "홍길동"], "year":2022}')

print(d3['name'])
print(d3['author'])
print(d3['year'])

print(d3['author'][1])

혼자 공부하는 데이터 분석
['박해선', '홍길동']
2022
홍길동

In [12]:
d4_str = """
            [
                {"name":"혼자 공부하는 데이터 분석", "author": "박해선", "year":2022},
                {"name":"혼자 공부하는 머신러닝", "author": "박해선", "year":2020}
            ]
        """

d4 = json.loads(d4_str)
print(d4[0]['name'])
print(d4[1]['name'])

혼자 공부하는 데이터 분석
혼자 공부하는 머신러닝

### 02-1-2 XML 데이터

In [6]:
x_str = """
        <book>
            <name>혼자 공부하는 데이터 분석</name>
            <author>박해선</author>
            <year>2022</year>
        </book>
        """

In [10]:
book = et.fromstring(x_str)

In [12]:
book

In [13]:
book_childs = list(book)
print(book_childs)

[<Element 'name' at 0x0000028D423D10D0>, <Element 'author' at 0x0000028D423D1120>, <Element 'year' at 0x0000028D423D1170>]

In [16]:
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

In [21]:
x2_str = """
<books>
    <book>
        <name>혼자 공부하는 데이터 분석</name>
        <author>박해선</author>
        <year>2022</year>
    </book>
    <book>
        <name>혼자 공부하는 머신러닝</name>
        <author>박해선</author>
        <year>2020</year>
    </book>
</books>        
"""

In [22]:
books = et.fromstring(x2_str)
print(type(books))
print(books.tag)

<class 'xml.etree.ElementTree.Element'>
books

In [28]:
pd.DataFrame(books)

ValueError: DataFrame constructor not properly called!

In [29]:
for book in books.findall('book'):
    name = book.findtext('name')
    author = book.findtext('author')
    year = book.findtext('year')
    print(name)
    print(author)
    print(year)
    print()

혼자 공부하는 데이터 분석
박해선
2022

혼자 공부하는 머신러닝
박해선
2020

### 02-1-3 API로 20대가 가장 좋아하는 도서 찾기

도서관 정보나루 마이페이지
https://www.data4library.kr/myPage?isValid=true

In [2]:
## API # 아직 미승인
http://data4library.kr/api/loanItemSrch?format=json&startDt=2021-04-01&endDt=2021-04-30&age=20&authKey=cd46fadfb53448f91adfabf9bdbbd69767dbc930df0a11852fa8b267c6c0e04f

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2106427770.py, line 2)

In [6]:
# requests 패키지
# !pip install requests
import requests

In [7]:
# 도서관 정보나루 인기도서 API
url = http://data4library.kr/api/loanItemSrch?format=json&startDt=2021-04-01&endDt=2021-04-30&age=20&authKey=cd46fadfb53448f91adfabf9bdbbd69767dbc930df0a11852fa8b267c6c0e04f

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (52154589.py, line 1)

In [8]:
# API에서 json data 불러오기
r = requests.get(url)
data = r.json()
print(data)

NameError: name 'url' is not defined

In [10]:
# 데이터 추출

## 1번 방법
books=[]

for d in data['response']['docs']:
    books.apend(d['doc'])

## 2번 방법
books = [d['doc'] for d in data['response']['docs']]

NameError: name 'data' is not defined

In [11]:
# 데이터프레임으로 변환

books_df = pd.DataFrame(books)
books_df

Empty DataFrame
Columns: []
Index: []